/*Animations*/
@-webkit-keyframes slowglow{
    0%{
        background:rgba(0,0,0,0.1);
        box-shadow:5px 0 0 rgba(0,0,0,0.1), -5px 0 0 rgba(0,0,0,0.1);
    }
    50%{
        background:rgba(0,0,0,0.55);
        box-shadow:5px 0 0 rgba(0,0,0,0.55), -5px 0 0 rgba(0,0,0,0.55);
    }
    100%{
        background:rgba(0,0,0,0.1);
        box-shadow:5px 0 0 rgba(0,0,0,0.1), -5px 0 0 rgba(0,0,0,0.1);
    }
}
@keyframes slowglow{
    0%{
        background:rgba(0,0,0,0.1);
        box-shadow:5px 0 0 rgba(0,0,0,0.1), -5px 0 0 rgba(0,0,0,0.1);
    }
    50%{
        background:rgba(0,0,0,0.55);
        box-shadow:5px 0 0 rgba(0,0,0,0.55), -5px 0 0 rgba(0,0,0,0.55);
    }
    100%{
        background:rgba(0,0,0,0.1);
        box-shadow:5px 0 0 rgba(0,0,0,0.1), -5px 0 0 rgba(0,0,0,0.1);
    }
}

html{
    font-family:'Roboto Condensed', sans-serif;
    font-weight:400;
    word-wrap:break-word;
    text-transform:uppercase;
    font-size:14pt;
    background:url(background.jpg);
    background-attachment:fixed;
    background-size:cover;
    height:100%;
}

body{
    margin:0;
    height:100%;
}

#container{
    position:relative;
    background:rgba(255,255,255,0.75);
    margin-right:25%;
    padding:15px;
    padding-bottom:55px;
    box-shadow:0 0 10px black;
    min-height:100%;
    box-sizing:border-box;
}

#header{
    font-size:18pt;
}

#header > *{
    display:inline;
    box-shadow:5px 0 0 rgba(255, 92, 0, 0.55), -5px 0 0 rgba(255, 92, 0, 0.55);
    text-shadow:1px 1px 0 white;
    background:rgba(255, 92, 0, 0.55)!important;
}

h1{
    font-size:2.8em;
}

h2{
    display:inline;
    background:rgba(0,0,0,0.55);
    box-shadow:5px 0 0 rgba(0,0,0,0.55), -5px 0 0 rgba(0,0,0,0.55);
    color:white;
}

a{
    background:rgba(0,0,0,0.55);
    box-shadow:5px 0 0 rgba(0,0,0,0.55), -5px 0 0 rgba(0,0,0,0.55);
    color:white;
    font-weight:normal;
    text-decoration:none;
    -webkit-animation:slowglow 2s infinite linear;
    animation:slowglow 2s infinite linear;
    margin:0 0.3em;
    position:static;
}

a:hover,a:focus{
    background:rgba(255,255,255,0.8);
    box-shadow:5px 0 0 rgba(255,255,255,0.8), -5px 0 0 rgba(255,255,255,0.8);
    color:black;
    -webkit-animation:none;
    animation:none;
    outline:none;
}
.divfix:focus {
    outline:none;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.55);
    padding:0.1px 10px;
}
#content > div{
    margin:20px 0;
    font-weight:300;
}
p, .noCap{
    text-transform:none;
}

/*Mobile mode. Activates when screen is <679px*/

@media all and (max-width:679px){
    h1{
        font-size:36pt;
    }
    div#container{
        margin-right:0;
        background:rgba(255,255,255,0.5);
    }
}
