/* * {
    margin: 0;
    box-sizing: border-box;
} */

html {
    --black: #101010;
    --main: #F70;
    --accent: #7FF;

    background-color: var(--black);
    color: white;
    font-size: 18pt;
    font-family: sans-serif;
}

header {
    overflow:hidden;
}

html, body, header {
    height: 100vh;
    margin: 0;
}

header {
    fill: white;
    background: linear-gradient(45deg, #0a1a1e, #4f5f63);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

header svg {
    font: bold 3.5px sans-serif;
    text-anchor: end;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heading {
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    transform: translate(0, 60vh) rotate(-8deg);
    transform-origin: right;
    text-align: right;
    background: var(--black);
}

.heading .title {
    font: bold 3.5em sans-serif;
    background: var(--main);

    width: 98%;
    padding: 0 50% 12px 10%;
    transform: translate(-6%, 0);
}

.quote {
    transition: opacity 1s;
    font-size: 1.5em;

    width: 96%;
    margin-left: 2%;
    margin-top: 6px;
    transform: translate(-1%, 0);
}

.popup{
    position: absolute;
    background: #303030;
    border: 1px solid var(--black);
    right: 6px;
    bottom: 8px;
    font-size: 28px;
    max-width: 70%;
    padding: 8px;
    text-align: right;
}

.heading::before {
    background: var(--black);
    content: '';
    position: absolute;
    left: -50%;
    right: -50%;
    height: 500px;
    top:0;
}

.menu {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    font-size: 32px;
    max-height: 90vh;
    overflow-y: auto;
}

.menu > a, .menu > a:visited {
    display: inline-block;
    background-color: var(--main);
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 16px;
    border-radius: 32px;
    box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.8);
    transition: background-color 500ms, color 500ms;
}

.menu > a:hover {
    background-color: white;
    color: var(--main);
}

main {
    max-width: 1024px;
    margin: auto;
    padding: 15px;
    /* transform: translate3d(0, 0, 0); ugh */
}

h1 {
    font-size: 1.75em;
}

a, a:visited {
    color: var(--accent);
}

ul.custom {
    padding-left: 32px;
    list-style-type: none;
}

ul.custom li {
    padding-left: 32px;
    background-position: 0 2px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    margin: 0.5em 0;
}