/* * {
    margin: 0;
    box-sizing: border-box;
} */

html {
    --black: #101010;
    --off-black: #303030;
    --main: #F70;
    --accent: #7FF;
    --foreground: white;

    background-color: var(--black);
    color: var(--foreground);
    font-size: 18pt;
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

header {
    fill: var(--foreground);
    background: linear-gradient(45deg, #0a1a1e, #4f5f63);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    overflow: hidden;
}

header svg {
    position: static;
    display: block;
    margin: 0 auto;

    width: 512px;
    height: 512px;
}

.heading {
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    transform: rotate(-2.5deg);
    transform-origin: right;
    text-align: center;
    background: var(--black);
    padding-bottom: 3ch;
}

.heading .title {
    font: bold 3.5em sans-serif;
    background: var(--main);
    width:105%;
    transform:translateX(-2.5%)
}

.quote {
    transition: opacity 1s;
    font-size: 1.5em;

    padding-top: 0.5ch;
}

.popup{
    position: fixed;
    background: var(--off-black);
    border: 1px solid var(--black);
    right: 8px;
    bottom: 8px;
    font-size: 28px;
    max-width: 70%;
    padding: 8px;
    text-align: right;
}

a.button, a.button:visited {
    display: inline-block;
    background-color: var(--main);
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 16px;
    border-radius: 32px;
    box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.8);
    transition: background-color 500ms, color 500ms;
}

a.button:hover {
    background-color: white;
    color: var(--main);
}

main, footer {
    max-width: 1280px;
    margin: auto;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6, .centered {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0.75em;
}
h2 {
    font-size: 2.25em;
    margin: 0.5em;
}
h3 {
    font-size: 1.75em;
    margin: 0.25em 0;
}

a, a:visited {
    color: var(--accent);
}

.flex {
    display:flex;
    justify-content: center;
}

div.card {
    display:inline-block;
    text-align: left;

    max-width: 350px;
    font-size: 0.75em;
    margin: 12px;
    padding: 6px;
    border-radius: 6px;

    background: var(--off-black);
    color: var(--foreground);

    box-shadow: 6px 6px 3px black;
}

div.card img.thumb {
    width: 64px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 5px -2.5px black;
}

div.card > div > div {
    padding: 12px;
}

div.card .title {
    font-weight: bold;
    text-transform:uppercase;
}

hr {
    margin: 2em 25%;
}

.no-shadow {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 0 !important;
}

main {
    padding-bottom: 4em;
}
footer {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 2em;
}