header {
    background: var(--main);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    padding: 1em 1ch 0.25em;
}
header a, header a:visited {
    color: white;
    text-decoration: none;
    font-style: italic;
}
header h1 {
    padding: 0;
    margin: 0;
}

#shots > div {
    max-width: 30%;
    padding: 5px;
}
#shots div img {
    height: auto;
    max-width: 100%;
}

.icons > div > a > img {
    width: 128px;
    height: auto;
    background: var(--off-black);
    border: 2px solid rgb(196, 196, 196);
    border-radius: 15%;
}
.icons div {
    padding: 5px;
    flex: 1 1 0px; /* https://stackoverflow.com/questions/29503227/how-to-make-flexbox-items-the-same-size */
}

code {
    background: var(--off-black);
    padding: 0 0.5ch;
    border-radius: 4px;
}

li { margin: 0.25em 0; }

.i { font-style: italic; }