html,body{
    font-family:sans-serif;
    min-height:720px;
}
#container{
    position:absolute;
    height:640px;
    width:480px;
    left:50%;
    top:50%;
    margin-left:-240px;
    margin-top:-320px;
    border-radius:10px;
    border:3px groove #822;
    background:#77CCFF;
    overflow:hidden;
}
#burd{
    background:red;
    height:64px;
    width:64px;
    box-sizing:border-box;
    padding-left:16px;
    padding-top:21px;
    position:absolute;
    left:80px;
}
#pipetop,#evenpipetop{
    height:50%;
    background:black;
    position:absolute;
    top:0;
    left:480px;
    width:64px;
}
#pipebottom,#evenpipebottom{
    height:50%;
    background:black;
    position:absolute;
    bottom:0;
    left:480px;
    width:64px;
}
button{
    position:fixed;
    bottom:0;
    z-index:9999;
    left:50%;
    font-size:40px;
    margin-left:-28px;
}
#YouLostSon{
    color:red;
    font-weight:bold;
    position:absolute;
    left:80px;
    top:310px;
    font-size:60px;
    pointer-events:none;
    opacity:0;
}

.score{
    font-weight:bold;
    color:black;
    position:fixed;
    left:14px;
    bottom:14px;
}