@keyframes fadeinout {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }   
}

* {
    box-sizing: border-box;
}

html {
    background: black;
    color: white;
    
    text-align: center;
    
    font-family: sans-serif;

    padding-bottom: 8em;
}

body {
    margin-top: 4em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1em;
    background: black;
    z-index: 10000;
}

h1 {
    margin: 1em 0 0.25em;
}

.hidden {
    color: transparent;
    text-shadow: -1px -1px 1px transparent,
                  1px -1px 1px transparent,
                  1px  1px 1px transparent,
                 -1px  1px 1px transparent;
    transition: color 100ms, text-shadow 100ms;
}
button.sound:hover .hidden, button.sound:focus .hidden {
    color: white;
    text-shadow: -1px -1px 1px black,
                  1px -1px 1px black,
                  1px  1px 1px black,
                 -1px  1px 1px black;
}

button.sound {
    appearance: none;
    overflow: hidden;

    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 2.5px;

    color: white;
    background-color: rgb(35, 83, 23);
    box-shadow: 0 4px 0 0 rgb(10, 53, 5);
    border: none;
    font-size: 1rem;
    text-shadow: -1px -1px 1px black,
    1px -1px 1px black,
    1px  1px 1px black,
   -1px  1px 1px black;

    border-radius:50%;
    transition: transform 200ms, box-shadow 200ms, background-color 200ms;
    transform: translateY(0);
}
button.sound:hover, button.sound:focus {
    transform: translateY(-4px);
    box-shadow:0 8px 0 0 rgb(10, 53, 5);
    background-color: rgb(53, 124, 36);
}
button.sound:active {
    transform: translateY(4px);
    box-shadow:0 0 0 0 rgb(10, 53, 5);
}

button.sound p, button.sound > div:not(.img) {
    transform:translateY(-50%);
    top:50%;
    left:0; right:0;
    position: absolute;
}

button.sound div.img {
    display:inline-block;
    position: absolute;
    border-radius: 50%;

    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    margin-top: 2.5%;

    background-size:cover;
    background-position: center;
    
    transition: opacity 100ms;
}
button.sound:hover div.img, button.sound:focus div.img {
    opacity: 0.45;
}

.toast {
    position:fixed;
    left: 5%;
    right: 5%;
    bottom: 2em;
    padding: 0.25em;
    font-size: 1.25em;
    border-radius: 15px;
    color: white;
    background: #404040;
    animation: 5s fadeinout;
}
.tiny {
    font-size:0.5em;
    line-height:1;
}