.controller.ds4 {
    background-image: url('https://orangestar.dev/stash/controllers/berry_blue.svg');
}

.ds4 .stick {
    background-image: url('https://orangestar.dev/stash/controllers/berry_blue_sticks.svg');
}
.ds4 .start {
    background-image: url('https://gamepadviewer.com/ps4-assets/start.svg') !important;
}
